
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: white;
  background:#990000;
  font-family: Arial, Helvetica, sans-serif;
}

.serif {
  font-family: DM Serif Display;
  font-size: 48px;
  font-weight: 400;
}


.login_box{
  border-radius: 25px;
  width: 700px;
  height: 400px;
  position: relative;
  gap: 0px;
  opacity: 1;
  background: #FFF1F1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.login_box-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.login_box-input{
  width: 100%;
  height: 40px;
  padding: 10px;
  align-items: center;
  border-radius: 15px;
  box-sizing: border-box;
}

.login_box-button{
  width: 100%;
  height: 50px;
  gap: 0px;
  border-radius: 15px;
  opacity: 1px;
  align-items: center;
  justify-content: center;
  display: flex;
  background: #670606;
}

.sidebar {
  width: 330px;
  height: 750px;
  top: 1026px;
  left: -856px;
  gap: 0px;
  margin-top: 15px;
  margin-left: 15px;
  padding: 20px;
  border-radius: 25px;
  opacity: 0px;
  background: #FFF1F1;

}

.sidebar a{
  display: block;
  color: black;
  padding: 20px;
  font-size: 18px;
}

.sidebar a.active{
  background-color: #990000;
  color: white;
  border-radius: 25px;
}
.sidebar a:hover{
  background-color: #670606;
  color: white;
  border-radius: 25px;
}

.sidebar a:hover:not(.active){
  background-color: white;
  color: black;
}

.submenu{
  display: block;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #F2B6B6;
  border-radius: 25px;
}

.submenu-link{
  margin-bottom: 5px;
}

.submenu-link-a{
  padding: 8px;
  background: #FFF1F1;
  color:#990000;
  border: 5px;
}

.submenu-link-a:hover{
  background-color: white;
  color: black;
}

.content{
  margin-left: -700px;
  padding: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2px;
}

.search-input{
  width: 100%;
  padding: 20px;
  font: serif;
  border-radius: 25px;
  color: #670606;
}

.search-button{
  padding: 20px;
  margin-left: 10px;
  background-color:#FFF1F1;
  color:#670606;
  border-radius: 25px;
  cursor: pointer;
}

.cards {
  display: flex;
  flex-wrap: wrap; /* Ensures cards wrap to the next row */
  gap: 1rem; /* Adjust spacing between cards */
  padding-left: 50px;
  padding-right: 50px;
  justify-content: center;
  margin-top: 2rem;
}

.club-cards{
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
  flex: 1 1 calc(33.33% - 1rem); /* Distribute cards evenly in a row */
  max-width: calc(33.33% - 1rem); /* Limit maximum width */
}

.user-profile {
  position: absolute;
  top: 16px;   
  right: 16px;  
  background-color: #670606; 
  color: white;
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s;
}

.user-profile:hover {
  background-color: black; 
}